
    @import url(https://fonts.googleapis.com/css?family=Roboto:300);
    *{
        margin: 0px;
        padding: 0px;
    }
    
    .index{
        background-image: url(/case3/butterfly_flower_black_background_74198_1366x768.jpg);
        background-size: cover;
        background-position: fixed;
    }
    
.form {
  position: relative;
  z-index: 1;
  background: #323038;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  color: rgb(227, 234, 221);  
  margin-bottom: revert;
  float: left;
  margin-top: 200px;
  margin-left: 100px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #323038;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #bdc1a8;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .register-form {
  display: none;
}

.homepage {
    background-image: url(/case3/6ca8566eb0a988d9a14cce2ab73237af.jpg);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}

.card {
    height: 15rem;
    text-align: center;
    float: left;
    margin-top: 200px;
    margin-left: 100px;

}

.card-title {
    padding-top: 30px;
}

.listpage {
    background-image: url(/case3/branch_leaves_drops_407139_1366x768.jpg);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;

}

#todo-list {
    font-size: medium;
    color: #f2f2f2;
    
}


.btn-primary {
  background: silver;
  color: black;
  border: solid;
}